:root {
  font-size: 62.5%; /*10px*/

  /*VARIABLES*/

  /*color*/

  --color-header:  #8E9AAF;
  --color-bg-h1: #CBC0D3;
  --color-h1: #ffffff;
  --color-bg-main: #EFF1FF;
  --color-main-p: #23053A; 
  --color-figcaption: #4A4E69;
  --color-bg-figcaption: #FEEAFA;


  /*Font-family*/
  --ff-heading: 'Staatliches', cursive;
  --ff-texting: 'Palanquin', sans-serif;

}

body {
  max-width: 38.4rem;
  max-height: 199.5rem;
  margin: auto;

 font-size: 1.6 rem;
}

header {
  max-width: 38.4rem;
  height: 27.9rem;
  background-color: var(--color-header);
  margin: auto;

  font-family: var(--ff-heading);
  font-weight: 400;
  font-size: 4.0rem;
  line-height: 3.4rem;
  letter-spacing: 5%;
  text-transform: uppercase;
  color: var(--color-h1);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.header-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.purple-background {
  width: 32.4rem;
  height: 4.9rem;
  background-color: var(--color-bg-h1);
  text-align: center;

  box-sizing: border-box;
  padding-top: 8px;
 
}

main {
  max-width: 38.4rem;
  height: 245rem;
  background-color: var(--color-bg-main);
  margin: auto;

}

.wrapper {
  max-width: 32.0rem;
  height: 100.2rem;
  border-radius: 2rem;
  margin: auto; 

}

main  p {
  max-width: 30.5rem;
  height: 7.5rem;

  font-family: var(--ff-texting);
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 1.8rem;
  color: var(--color-main-p);
  text-align: center;

  padding-top: 3rem;


}

figure {
  position: relative;
}

figcaption {

  max-width: 11.2rem;
  height: 3.5rem;
  border-radius: 2.0rem;
  background-color: var(--color-bg-figcaption);

  position: absolute;
  top: 2.6rem;
  left: 19.2rem;
  right: 1.6rem;
  bottom: 19.9rem;

  font-family: var(--ff-heading);
  font-weight: 400;
  font-size: 2rem;
  line-height: 3.4rem;
  letter-spacing: 5%;
  color: var(--color-figcaption);
  text-align: center;
}

.shakes img,
.massa img,
.picoles img,
.sorvete2 img,
.picoles2 img {
  margin-top: 3.2rem;
  border-radius: 8px;
}

.img-grid {
  /* transition: transform 20mms; */
  animation: move 2s;
}

/* .sorvete img:hover,
  .shakes img:hover,
  .massa img:hover,
  .picoles img:hover {
     transform: scale(1.1);
      opacity: 0.5; 
} */



.shakes figcaption,
.massa figcaption,
.picoles figcaption,
.sorvete2 figcaption,
.picoles2 figcaption {
  margin-top: 3.2rem;
}

footer {
  display: none;
}

@keyframes move{
  0% {
    transform: scale(1.2);
    opacity: 0;
    transform: translateY(30px);
  }

  100% {
    transform: scale(1);
    opacity: 1;
    transform: translateY(0);
  }
}

@media(min-width: 700px) {

  body {
    max-width: 100rem;
    max-height: 850px;
    
  }

  header {
    max-width: 80rem;
    padding-top: 35px;
    box-sizing: border-box;

   
  }

  .purple-background {
    width: 70rem;
    height: 4.9rem;
    margin: auto;
    background-color: var(--color-bg-h1);
    text-align: center;

    box-sizing: border-box;
    padding-top: 8px;
    margin-bottom: 30px;
  }

  main {
    max-width: 80rem;
    max-height: 97rem;
  
  }

  main  p {
    max-width: 35rem;
    height: 8rem;
    font-size: 2rem;
    line-height: 2rem;

  }

  .shakes img,
  .massa img,
  .picoles img,
  .sorvete2 img,
  .picoles2 img {
    
    margin-top: 0;
  }

  .shakes figcaption,
  .massa figcaption,
  .picoles figcaption,
  .sorvete2 figcaption,
  .picoles2 figcaption {
    margin-top: 0;
}

  .images {
    display: grid;
    grid-gap: 3rem;
    align-content: center;
    justify-content: center;
    grid-template-areas: "so so sha sha"
                         "so so sha sha"
                         "p1 p1 sha sha"
                         "p1 p1 sha sha"
                         "p1 p1 ma ma"
                         "p1 p1 ma ma"

  }


  .sorvete {
    grid-area: so;
  }

  .shakes {
    grid-area: sha;
  }

  .massa {
    grid: ma;
  }

  .picoles {
    grid-area: p1;
  }

  .sorvete2 {
    display: none;
  }

  .picoles2 {
   display: none;
  } 

  footer {
    display: block;
  }
  
footer {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 2.8rem;
  /* letter-spacing: 5%; */
  color: #4A4E69;
  text-align: center;

  max-width: 80rem;
  margin: auto;
  background-color: var(--color-bg-main);

}

footer a {
  text-decoration: none;
  color: #4A4E69;
}

footer span {
  font-weight: bold;
}

}

@media(min-width:1024px){
  body {
  
    font-size: 1.6 rem;
    background-color: #E5E5E5;

    margin-top: 0;
    margin-left: 20px;

   
  }

  .site-container {
    margin-top: 30px;
    max-width: 2560px;
    height: 72rem; 
    
    /* border: 2px solid black; */

    position: relative;
    
  }

  header {
    max-width: 38rem;
    height: 72rem;
    background-color: #8E9AAF;

    position: absolute;
    top: 0;
    left: 0rem;
  
  }
  .header-container {
    gap: 3rem;
    position: relative;
    top: -20rem;
  }

  .purple-background {
    width: 38rem;
    font-family: 'Staatliches',sans-serif;
    font-size: 3.5rem;
    font-weight: 400;
    line-height: 3.4rem;
  }

  main {
    width: 90rem;
    height: 72rem;
   

    background-color: #ffffff;
    position: absolute;
    left: 38rem; 
  }

  .sorvete2 {
    display: block;
  }

  .picoles2 {
   display: block;
  } 

  .img-grid-sorvete1,
  .img-grid-massa,
  .img-grid-sorvete2 {
    width: 22rem;
    height: 15rem;
    object-fit: fill;

  }

  .img-grid-shake,
  .img-grid-picole1,
  .img-grid-picole2 {
    width: 22rem;
    height: 35rem;
    object-fit: cover;

  }


  .images {
    position: absolute;
    top: 6.4rem;
    left: 2.8rem;
    display: grid;
    grid-gap: 3.2rem;
    justify-content: flex-start;
    align-content: flex-start;
    grid-template-areas: "so so sha sha s2 s2"
                         "so so sha sha s2 s2"
                         "p1 p1 sha sha p2 p2"
                         "p1 p1 sha sha p2 p2"
                         "p1 p1 ma ma p2 p2"
                         "p1 p1 ma ma p2 p2"



  }


  .sorvete {
    grid-area: so;
  }

  .shakes {
    grid-area: sha;
  }

  .massa {
    grid: ma;
  }

  .picoles {
    grid-area: p1;
  }

  .sorvete2 {
    grid-area: s2;
  }

  .picoles2 {
    grid-area: p2;
  }

  figcaption {
    display: none;
  }

  .paragraph {
    width: 27.5rem;
    height: 26rem;
    position: absolute;
    left: -32.6rem;
    top: 33.3rem;
    

    font-family: 'Roboto', sans-serif;
    font: 2.4rem;
    line-height: 2.0rem;
    font-weight: 400;
    color: #FFFFFF;

  }

  footer {
    position: absolute;
    top: 646px;
    left: 700px;
    background-color: #ffffff;
  }

  @keyframes move{
    0% {
      transform: scale(1.2);
      opacity: 0;
      transform: translateY(30px);
    }
  
    100% {
      transform: scale(1);
      opacity: 1;
      transform: translateY(0);
    }
  }
  

 
  
  

  
}
